<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Please login to continue!</h1>
<!--/*@thymesVar id="user" type="com.edu.restwebapp.models.User"*/-->
<form th:action="@{/register}" method="post" th:object="${user}">
    <input type="text" name="username" required placeholder="Nhập username" th:field="*{username}">
    <input type="text" name="password" required placeholder="Nhập password" th:field="*{password}">
    <button type="submit">Đăng ký</button>
</form>
</body>
</html>